.Pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  /* position: relative;
  bottom: 0; */
}

.Pagination button {
  width: 30px;
  height: 30px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-color: #eee;
}

.Pagination button.active {
  font-weight: 600;
  border-color: #101010;
  background: #ffe400;
  color: #101010;
}